.App {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

body {
  
  background-color: lightgreen;
}

input {
  background-color: palevioletred;
  font-size: x-large;
  color: white;
}