.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin-left: 2rem;

}

input {
  background-color: palevioletred;
  font-size: x-large;
  color: white;
}

.h1 .root {
color: ;
}

.button {
  size: inherit;
}